

.footer-wrap{
    background-color: #fff;
    position: fixed;
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 45px;
    border: 1px solid rgba(101, 101, 101, 0.454);
    border-radius: 15px;
    box-shadow: 0 5px 5px 0 gray;
}

.nav-link{
    color:#1f1f1f;
    text-decoration: none;
    float: left;
    width: 20%;
    text-align: center;
    /* 세로길이 설정 */
    height: 45px;
    line-height: 45px;
}

.active {
    color: #FF9559;
  }